/*---------------------------------------------------------*/
/*                     Header contents                     */
/*---------------------------------------------------------*/

header {
    display: flex;
    align-items: center;
    text-align: center;

    padding-left: 3%;
}

/*---------------------------------------------------------*/
/*                     Navbar contents                     */
/*---------------------------------------------------------*/

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.nav button {
    width: 25%;
    height: 100%;

    border: none; 
    border-radius: 0;
    padding: 10px 15px;

    font-size: 15px; 
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

.nav button:hover,
.nav button:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
    z-index: 100; /* Makes sure the buttons don't overlap */
}

.nav button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
    transform: scale(0.98); 
}
/*---------------------------------------------------------*/
/*                     Footer contents                     */
/*---------------------------------------------------------*/

footer {
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 18px;
    padding-bottom: 0;
    display: inline-block;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.4;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.footer-section ul li a:hover {
    color: #1abc9c;
}

.footer-bottom {
    opacity: 0.7;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #7f8c8d;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}