:root {
    --primary-color: #8E9775;     /* Olivegreen */
    --secondary-color: #D9CAB3;   /* Beige */
    --accent-color: #4B4A67;      /* Dark purple */  
    --background-color: #FCF7F8;  /* Creamwhite */
    --text-color: #2F2D2E;        /* Deepbrown */
}
