:root {
    --primary-color: #8E9775;     /* Olivegreen  */
    --secondary-color: #D9CAB3;   /* Beige       */
    --accent-color: #4B4A67;      /* Dark purple */  
    --background-color: #FCF7F8;  /* Creamwhite  */
    --text-color: #2F2D2E;        /* Deepbrown   */
}

body { 
    display: grid;

    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 150vh;

    grid-template-columns: 1% 1fr 2fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". sidebar main ."
    ". footer footer.";

    color: var(--text-color);
}

header {
    grid-area: header;
    background-color: grey;
    
}

.nav {
    grid-area: nav;
    background-color: beige;
}

main {
    grid-area: main;
    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

main textarea {
    max-width: 75%;
    max-height: 5;
}

#contactinfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: sidebar;
    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside img {
    width: 90%;
    border-radius: 4%;
}

aside hr {
    width: 80%;
}

footer {
    grid-area: footer;
    background-color: #8E9775;
    color: var(--text-color);
}