:root {
    --primary-color: #2E4053;     /* Darkbluegrey */
    --secondary-color: #3498DB;   /* Midblue */
    --accent-color: #E74C3C;      /* Red-orange */  
    --background-color: #ECF0F1;  /* Light grey */
    --text-color: #2C3E50;        /* Darkgrey */
}

body {
    color: var(--text-color);
}